<h1>HOME PAGE</h1>

<h2>The plan is to have this be the landing page. Gonna have login from here. Also, I would like to make it so that you dont have to log in to view shit. but either way is fine. </h2>


<p>Find me in app/views/user/index.html.erb</p>
